[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# Visual Studio / VS Code
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db

# Crashlytics or Unity Analytics
crashlytics-build.properties
